.wrong{
        padding: 18px 18px 22px 20px;
        border-radius: 8px;
        border: 4px solid var(--accent-caribbean-green, #ef233c);
        background: #de04048a;
        box-shadow: 0px 4px 0px 0px rgba(51, 51, 51, 0.16);
}
.wrong p{
    color:#fff;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: -0.15px;
}   