.MainField{
    margin-block-end: 30px;
}
.questions__box{
    width: 100%;
    padding-block: 70px;
    border-radius: 12px;
    border: 3px solid var(--black, #1B1B1B);
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
    display: grid;
    place-items: center;
    position: relative;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
}

.number__questions{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: var(--black, #1B1B1B);
    text-align: center;
    font-family: Patrick Hand;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.questions{
    color: var(--black, #1B1B1B);
    font-family: Patrick Hand;
    font-size: clamp(20px, 5vw + 1rem, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input__wrapper{
    display: flex;
    gap: 15px;
}

.input__group{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.input{
    max-width: 70px; 
    height: 100px;
    font-size: clamp(20px, 5vw + 1rem, 40px);
    border-radius: 8px;
    border: 2px solid var(--black, #1B1B1B);
    background: var(--white, #FFF);
    text-align: center;
}

.input:disabled{
    background-color: hsl(165, 65%, 52%, .4);
    cursor: not-allowed;
    filter: blur(10px);
}
.form__button:disabled{
    cursor: not-allowed;
    background-color: hsl(165, 65%, 52%, .4);
    filter: blur(10px);
}

.input__group:nth-child(1) .input{
    color: #fca311;  
}
.input__group:nth-child(2) .input{
    color: #e63946;
}
.input__group:nth-child(3) .input{
    color: #4cc9f0;
}

.label__id{
    overflow: hidden;
    color: #fca311;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Patrick Hand;
    font-size: clamp(20px, 5vw + 1rem, 31px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.label__class{
    overflow: hidden;
    color: #e63946;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Patrick Hand;
    font-size: clamp(20px, 5vw + 1rem, 31px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.18px;
}
.label__type{
    overflow: hidden;
    color: #4cc9f0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Patrick Hand;
    font-size: clamp(20px, 5vw + 1rem, 31px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.form__button{
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid var(--black, #1B1B1B);
    background: var(--white, #FFF);
    color: var(--black, #1B1B1B);
    text-align: center;
    font-family: Patrick Hand;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    cursor: pointer;
}

.questions__controls{
    display: flex;
    justify-content: space-between;
}

.control__button{
    --size: 50px;
    width: var(--size);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.prev:hover{
    background-color: #ff595e;
}

.next:hover{
    background-color: #8ac926;
}

.answer__box{
    padding: 20px;
    max-width: 300px;
    min-height: 100px;
    border-radius: 8px;
    border: 2px solid var(--black, #1B1B1B);
    background: var(--white, #FFF);
    margin-block-end: 20px;
    margin-inline: auto;
    display: grid;
    place-items: center;
    opacity: 0.1;
}

.show{
    opacity: 1;
}

.question__solved{
    margin: 10px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    border: 4px solid var(--accent-caribbean-green, #37D4AD);
    background: #E9FFF8;
    padding: 18px 18px 22px 20px;
    box-shadow: 0px 4px 0px 0px rgba(51, 51, 51, 0.16);
    color: #ffbe0b;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    text-transform: uppercase;
}

.box {
    --basic: #ffc300;
    display: grid;
    place-items: center;
    padding: 12px;
    border: 5px solid #0000;
    border-radius: 12px;
    background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(
          var(--angle),
          #a2d2ff,
          var( --basic)
        ) border-box;
    animation: 7s rotate linear infinite;
    margin-block-end: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
  }
  .box__solved{
    --basic: #37D4AD;
    display: grid;
    place-items: center;
    padding: 12px;
    border: 5px solid #0000;
    border-radius: 12px;
    background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(
          var(--angle),
          #a2d2ff,
          var( --basic)
        ) border-box;
    animation: 7s rotate linear infinite;
    margin-block-end: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  
  .solved__answer{
    margin-block-start: 20px;
    padding: 10px;
    display: flex;
    gap: 7px;
    border-radius: 8px;
    border: 3px solid var(--black, #1B1B1B);
    background: var(--white, #FFF);
  }

  .solved__answer span{
    color: var(--black, #1B1B1B);
    text-align: center;
    font-family: Patrick Hand;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .solved__answer span:nth-child(1){
    color: #fca311;
  }
  .solved__answer span:nth-child(2){
    color: #e63946;
  }
  .solved__answer span:nth-child(3){
    color: #4cc9f0;
  }